<!DOCTYPE html>
<html>
<head>
	<title>Students</title>
</head>
<body>
	<h1>words and such</h1>
	<% for(let i = 0; i < studentsArray.length; i++){%>
		<li><%= studentsArray[i]%></li>
	<% } %>
</body>
</html>