<!DOCTYPE html>
<html>
<head>
	<title>Reverse Students</title>
</head>
<body>
	<h1>reversed</h1>
	<% for (let i = studentsArray.length; i > 0; i--){%>
		<li><%= studentsArray[i - 1]%></li>
	<% } %>


</body>
</html>