<!DOCTYPE html>
<html>
<head>
	<title>and now for...</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- 	<script type="text/javascript" src="javascripts/scripts.js"></script>	 -->
</head>
<body>
	<div class="container weatherApp">
		<div class="row submitBar">
			<div class="col-sm-6 col-sm-offset-3">
				<form class="weather-submit" method="post">
					<div class="form-group">
						<input type="text" id="weather-location" placeholder="Zip Code" class="form-control" name="zipCode"/>
						<button type="submit" id='weather-button' class="btn btn-default btn-color">The Weather</button>						
					</div>						
				</form>
			</div>
		</div>
	</div>
</body>
</html>